 <table id="t01">
      <tr>
        <th>Company Name</th>
        <th>Headquaters</th> 
        <th>revenue</th>
      </tr>
      {{#each item in model}}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.headquaters}}</td>
          <td>{{item.revenue}}</td>
        </tr>
      {{/each}}
</table>