 <table id="t01">
      <tr>
        <th>Company Name</th>
        <th>Headquarters</th> 
        <th>revenue</th>
      </tr>
      {{#each item in model}}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.headquarters}}</td>
          <td>{{item.revenue}}</td>
        </tr>
      {{/each}}
</table>