<h4>
    <span> {{name}} </span>
</h4>
<div>
    <table>
        <tr>
            <td> M.R.P </td>
            <td> {{MRP}}</td>
        </tr>
        <tr>
            <td> Price </td>
            <td> {{price}}</td>
        </tr>
        <tr>
            <td> You Save </td>
            <td> {{sale}} </td>
        </tr>
    </table>
</div>
