<h1> Products </h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th data-field="name">Item</th>
            <th data-field="description">Description</th>
            <th data-field="dimension">Dimension</th>
            <th data-field="price">Price</th>
        </tr>
        {{#each product in controller}}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.shortDescription}}</td>
            <td>{{product.formattedDimension}}</td>
            <td>{{product.formattedPrice}}</td>
        </tr>
        {{/each}}
    </thead>
</table>
