<p class="well lead"> This example demonstrate how to render different templates in different outlets.<br>Click on the Menu to Toggle Sidebar.</p>
<p class="well lead">Click{{#link-to 'about'}} Here{{/link-to}} to Go To About Page Which has Different Sidebar Menu Items</p>