<h2>Commits</h2>
{{#each c in model}}
  <div class="sha"><b><em>Sha</em>:</b> {{#link-to 'commits.commit' c}}{{c.sha}}{{/link-to}}</div>
  <div class="author"><b><em>Author</em>:</b> {{c.commit.author.name}}</div>
  <div class="message"><b><em>Message</em>:</b> {{c.commit.message}}</div>
  <hr/>
{{/each}}