<h2>Welcome to Ember.js</h2>
<div> {{#link-to 'about'}}About{{/link-to}} </div>
<div> {{#link-to 'products'}}Products{{/link-to}}</div>
<div> {{#link-to 'products.new'}}Create a new product{{/link-to}}</div>          
{{outlet}}
