{{#product-description name="Product Name"  MRP="$ 100" price="$80" sale="$20"}}
    <ul>
        <li> Info 1</li>
        <li> Info 2</li>
        <li> Info 3</li>
        <li> Info 4</li>
    </ul>
{{/product-description}}