{{#product-description name="Product Name"  MRP=model.MRP price=model.price sale=model.sale}}
    <ul>
        <li> Info 1</li>
        <li> Info 2</li>
        <li> Info 3</li>
        <li> Info 4</li>
    </ul>
{{/product-description}}

<br>
<br>

<div>Please set the product's manufactoring date : {{date-picker action="saveMaufactoringDate"}}</div>
<br>
<div>Please set the product's expiry date : {{date-picker action="saveExpiryDate"}}</div>
<br>
<div>The Manufactoring Date Set By You is {{manufactoringDate}}</div>
<div>The Expiry Date Set By You is {{expiryDate}}</div>